.songNhac{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #efefef;
    padding: 10px;
    border-radius: 100px;
    border: #151515 2px solid;
    transition: all 0.5s ease-in;
    flex-direction: column;

    &__wave{
        width: 90%;
        cursor: pointer;
        position: relative;
    }

    &__songInfor{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;

        &__title{
            font-weight: 600;
            margin: 0px 5px;
        }
    }

    &__button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;

        &__play{
            cursor: pointer;
            border-radius: 100px;
            width: 40px;
            height: 40px;
            font-size: 20px;
            background-color: #151515;
            color: white;
            border: #151515 2px solid;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 20px;
            margin-right: 20px;
        }
        &__play:hover{
            background-color: white;
            color: #151515;
        }
        &__backNext{
            font-size: 25px;
            cursor: pointer;
        }
        &__backNext:hover{
            color: #8DECB4;
        }
        &__like{
            font-size: 25px;
            right: 500px;
            cursor: pointer;
            margin-right: 30px;
        }

        &__volume{
            font-size: 20px;
            margin-left: 30px;
            display: flex;
            align-items: center;
            justify-content: start;
            transition: all ease-in 0.2s;
            cursor: pointer;

            &__input{
                width: 0px;
                opacity: 0;
                transition: all ease-in 0.2s;
                cursor: pointer;
            }
        }
        &__volume:hover > .songNhac__button__volume__input{
            opacity: 1;
            width: 100px;
        }
    }
}
.songNhac__button{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.5s ease-in;
    opacity: 0;
    height: 0px;
}
.songNhac:hover >.songNhac__button{
    opacity: 1;
    height: 40px;
    margin-top: 10px;
}

.loveSong__backModal{
    width: 100%;
    height: 100%;
    background-color:rgb(44, 44, 44);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5000;
    opacity: 0.5;
}

.loveSong__modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: white;
    padding: 50px;
    display: flex;
    z-index: 9999;
    animation: slideIn 0.5s ease-in-out forwards;
    border-radius: 30px;

    &--buttonClose{
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 30px;
        cursor: pointer;
    }
    &--buttonClose:hover{
        color: rgb(205, 81, 81);
    }
    &--content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 500px;

        &__title{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 30px;
            width: 60%;
            text-align: center;
        }
        &__inner{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 96%;
            box-shadow: 2px 2px 5px #656565;
            padding: 30px;
            border-radius: 15px;
            cursor: pointer;
            transition: all ease-in 0.2s;

            &__picture{
                width: 100px;
                height: 100px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 12px;
            }
            &__title{
                font-size: 22px;
                width: 60%;
                text-align: center;
            }
        }
        &__inner:hover{
            box-shadow: 2px 2px 5px red;
        }
        &__disc{
            text-decoration: none;
            margin-top: 30px;
        }
    }
}
@keyframes slideIn {
    from {
        top: -100%; /* Modal ẩn bên trên màn hình */
        opacity: 0; /* Modal ban đầu không hiển thị */
    }
    to {
        top: 50%; /* Hiển thị modal ở giữa màn hình */
        opacity: 1; /* Hiển thị modal với opacity đầy đủ */
    }
}

.inner{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    height: 200px;
}
